table{
    border: 2px solid;
    border-color: #DCDCDC;
}
.esc2{
    background-color: #E7516C;
}
tr{
    text-align: center;
}
.A{
    background-color: #E7516C;
}
.E{
    background-color: #555C66;
}
.S{
    background-color: #70CF69;
}
.Plano1{
    padding: px;
    border: solid;
    border-color: #B7BDC3;
}